In [1]:
import streamlit as st
import pandas as pd
import plotly.express as px
import os, time
from influxdb_client_3 import InfluxDBClient3, Point
from openai import ChatCompletion
import os

/Users/williamvanbuskirk/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [19]:
# env variables
INFLUXDB_URL = os.getenv('INFLUXDB_URL')
INFLUXDB_BUCKET = os.getenv('INFLUXDB_BUCKET')
INFLUXDB_ORG = os.getenv('INFLUXDB_ORG')
INFLUXDB_TOKEN = os.getenv('INFLUXDB_TOKEN')

# Function to query historical data from InfluxDB
def query_historical_data():
    query = """
    SELECT status, time
    FROM 'habit_tracker'
    WHERE time > now() - interval '7 days'
    """

    with InfluxDBClient3(host=INFLUXDB_URL, token=INFLUXDB_TOKEN, org=INFLUXDB_ORG) as client:
        # Execute the query
        table = client.query(query=query, database="personal_projects", language='sql')
        # Convert to dataframe
        df = table.to_pandas().sort_values(by="time")
        return df

# Function to query the current status
def query_current_status():
    query = f"""
    SELECT status
    FROM 'habit_tracker'
    ORDER BY time DESC
    LIMIT 1
    """
    with InfluxDBClient3(host=INFLUXDB_URL, token=INFLUXDB_TOKEN, org=INFLUXDB_ORG) as client:
        table = client.query(query=query, database="personal_projects", language='sql')
        df = table.to_pandas()
        return df

In [20]:
query_historical_data()

               status                    time
390     Time with God 2025-01-14 22:29:18.997
391  Time with Family 2025-01-14 22:29:19.024
392          Sleeping 2025-01-14 22:29:19.038
393           Working 2025-01-14 22:29:19.053
394          Learning 2025-01-14 22:29:19.066
..                ...                     ...
388     Time with God 2025-01-20 21:42:11.374
389     Time with God 2025-01-20 21:42:21.368
0       Time with God 2025-01-20 21:42:31.367
1       Time with God 2025-01-20 21:42:41.367
2       Time with God 2025-01-20 21:42:51.454

[486 rows x 2 columns]

In [24]:
query_current_status()['status'][0]

'Time with God'